body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: black;

    overflow: hidden;
}

header {
    background-color: #105178;
    color: white;
    padding: 1.5rem 10%;
    position: relative;
    z-index: 1;
}

main {
    padding: 2% 10% 0;
    background-image: url(src/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: panBackground 60s linear infinite;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@keyframes panBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

.intro {
    margin-top: 50px;
}

.title {
    font-size: 3.75rem;
    font-weight: 700;
}

.bio {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.nav-btn {
    background-color: #f5f3e7;
    border-radius: 5px;
    padding: 5px;
    color: #105178;
}

.widget-btn {
    border: 1px solid;
    color: white;
    border-radius: 10px;
    background-color: #105178;
    padding: 8px 15px;
    border-color: white;
    transition-duration: 0.5s;
}

.widget-btn:hover {
    border: 2px solid;
    color: #105178;
    border-color: #105178;
    background-color: white;
    transition-duration: 1s;
}
.widget-btn-inverse {
    border: 2px solid;
    color: #105178;
    padding: 8px 15px;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    transition-duration: 1s;
}
.widget-btn-inverse:hover {
    border: 2px solid;
    color: white;
    border-color: white;
    background-color: #105178;
    transition-duration: 1s;
}