html , body , main , header, div {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.auth-card {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  color: #105178 ;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color:transparent;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
}

.form button {
  align-self: flex-end;
}

.inputForm {
  border: 1px white solid;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  transition-duration: 0.5s;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.inputForm:focus-within  {
  border: 2px solid black;
  box-shadow: 0 5px 30px black ;
  transition-duration: 0.5s;
}

input {
  height: 50px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  transition-duration: 1s;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
input::placeholder {
  font-size: 14px;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
  
input:focus {
  outline: none;
  background-color: transparent;
  transition-duration: 1s;
}

.button-submit {
  position: relative;
  height: 50px;
  width: 40%;
  transform: translate(75%, 25%);

  backdrop-filter:blur(1px);
  background-color: transparent;

  border-radius: 10px;
  border: 0px solid white;
 
  color: white;
  font-size: 15px;
  font-weight: 500;

  cursor: pointer;
  transition-duration: 1s;  

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}

.button-submit:hover {
  box-shadow: 0 5px 50px rgb(245, 244, 244) ;
  transition-duration: 0.5s;
}
#cardName ,#cardNumber , #cvv , #expiryDate{
  border-radius: 5px !important;
}
#CC{
  margin-top: 30px ;
}
#countries, #gender{
  background-color: transparent;
}