html , body , main , header , div {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.auth-card {
  position: absolute;
  top: 55%;
  left: 50%;
  padding-top: 25px;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  box-shadow: 0px 15px 100px rgba(0, 0, 0, 0.5);
  color: #232323 ;
}

.auth-card form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-card input {
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  outline: none;
  color: #111;
  transition: box-shadow 0.3s ease;
  background: transparent;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.auth-card input::placeholder {
  color: white;

}
label{
  color: white !important;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color:transparent;
  padding: 30px;
  width: 450px;
  border-radius: 20px;
}

.form button {
  align-self: flex-end;
}


.inputForm {
  border: 2px white solid;
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  transition-duration: 0.5s;
}
.inputForm:focus-within  {
  border: 2px solid black;
  box-shadow: 0 5px 30px black ;
  transition-duration: 0.5s;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}


.span {
  font-size: 14px;
  margin-left: 5px;
  color: rgb(111, 111, 111);
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  height: 50px;
  width: 50%;
  border: none;
  border-radius: 10px;
  margin: 10px 25% 10px 0;
  background-color: transparent;
  backdrop-filter:blur(1px);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  transition-duration: 1s;  
}
.button-submit:hover {
  box-shadow: 0 5px 30px rgb(245, 244, 244) ;
  transition-duration: 0.5s;
}

.p {
  text-align: center;
  color: white;
  font-size: 14px;
  margin: 5px 0;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
}

.remember-left {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.forgot-password {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: rgb(111, 111, 111);
  cursor: pointer;
  text-decoration: underline;
}